#app {
  width: 100%;
  display: block;
}

#listings {
  width: 85%;
  display: inline-block;
}

h2 {
  text-transform: uppercase;
  margin: 0;
  padding: 1em;
  background-color: #f5f5f5;
  color: #27a8e0;
}
